CONVEX_DEPLOYMENT=
VITE_CONVEX_SITE_URL=
VITE_CONVEX_URL=

VITE_POSTHOG_KEY=
POSTHOG_API_KEY=
POSTHOG_LOGS_ENABLED=false

WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=
